/*  Dual Columns */
* {
	font-family: Roboto, sans-serif;
}
body {
	margin:0;
	padding:0;
	border:0;

		/* This removes the border around the viewport in old versions of IE */
	/* width:100%; */
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	/* font-size:90%; */
	padding-bottom: 35px;
}
.zebra-stripe:nth-of-type(odd) {
	background: #d4d4d4;
}
.zebra-stripe:nth-of-type(even) {
	background: #f4f4f4;
}
.zebra-stripe {
	/* line-height: 1.25rem; */
	padding-top: 4px;
	padding-bottom: 4px;
}
.open-close-arrow {
	margin-right: 2px;
	margin-left: 2px;
}
#new-task {
	margin-left: 8px;
}
#task-title {
	text-align: center;
	background-color: inherit;
	color: darkblue;
}
#all-tasks {
	padding-top: 8px;
}
.task-name {
	margin-left: 2px;
	font-size: .90rem;
	color: darkblue;
}
.task-header {
	font-size: .75rem;
}
.task-date-input {
	font-size: .6rem;
}
#leftcolheader {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: sans-serif;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#timer-title {
	font-size: 56px;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 40px;
}
#timer-text {
	font-size: 56px;
	text-align: center;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
.task-small-button {
	text-align: center;
	font-size: 12px;
	background-color: white;
	color: black;
	margin-top: 0px;
}
.task-small-button:hover {
    color: white;
    background-color: rgb(210, 40, 123);
}
.normal-app-button {
    text-align: center;
    font-size: 18px;
    background-color: white;
    color: black;
		width: 25%;
		margin-top: 0px;
}
.normal-app-button:hover {
    color: white;
    background-color: rgb(210, 40, 123);
}
.normal-app-button:disabled:hover {
	color: gray;
}
.normal-app-button:disabled {
    background-color: gray;
}
.normal-app-button span {
    line-height: 28px;
}
#interruption-text {
	text-align: center;
	padding-bottom: 8px;
}
#task-list {
	margin-left: -10px;
}
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.btn {
	border: 0;
	background: white;
	box-shadow:none;
	border-radius: 0px;
	line-height: 2rem;
}

.btn-success {
	background: gray;
	color: white;
}

#big-text-input {
	font-size: 20px;
	line-height: 2rem;
	width: 95%;
}

#right-justify {
	float: right;
}

#messages-title {
	padding-top: 3px;
	padding-bottom: 20px;
}

#rooms-link {
	float: left;
	font-size: 24px;
}

#send-message {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 1px;
}

#send-input {
	font-size: 24px;
	line-height: 2rem;
	width: 68%;
}

#send-button {
	font-size: 20px;
	background: dimgray;
	color:white;
	/* border: 1px solid darkgray; */
	box-shadow:none;
	border-radius: 0px;
	height: 2.4rem;
	margin-left: -5px;
}

// new 2 column stuff
.container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color:blue;
}
.column_wrap {position:relative;}

#leftcolheader {
	text-align: center;
}

.col_left {
	background-color: #f4f4f4;
	width:25%;
	position:absolute;
	left:0;top:0;
	bottom:0;
	height:auto;
	display: block;
	padding-left: 2px;
}
.col_right {
	margin-left:26.25%;
	margin-right: 4px;
	background-color: #dcdcdc;
}
