<!DOCTYPE html>
<html ng-app='blocTime'>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Bloc Time (Angular)</title>
      <link rel="stylesheet" href="/styles/main.css">
      <!-- Ion Icons -->
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"></link>

  </head>
  <body>
    <!-- For dual columns -->
  <div class="container">
    <h1 id="task-title" class="col_right" ng-controller="TasksCtrl as tasks">{{ tasks.tasks.currentTask.name }}</h1>
    <div
        class="col_right"
        ng-controller="HomeCtrl as home">
        <!-- ui.router page -->
        <ui-view></ui-view>
        <br/><br/>
        <div>
          <button
              type="button"
              name="normal-app-button"
              class="normal-app-button"
              ng-show="home.timer.inSession && home.timer.ticks > 0"
              ng-click="home.timer.interruption()">
            Interrupt Session
          </button>
          <p id="interruption-text">
            <ng-pluralize count="home.timer.interruptions"
                          when="{'0': 'No Interruptions Yet',
                                  'one': '1 Interruption',
                                  'other': '{} Interruptions'}"
                          ng-style="home.timer.interruptStyle()">
            </ng-pluralize>
          </p>
        </div>
    </div>

    <div class="col_left">
      <p id="leftcolheader">
        Bloc Time
      </p>
      <div ng-controller="TasksCtrl as tasks" id="new-task">
        New Task
        <br/>
        <input type="text" id="send-input" ng-model="tasks.tasks.newTaskName">
        <button id="send-button" class="btn" ng-click="tasks.tasks.add()">Add</button>
        <br/>
        <br/>
        <div
            ng-include="'/templates/tasks.html'"
            id="task-list">
        </div>
      </div>
    </div>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- AngularUI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

    <!-- FireBase -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-app.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-messaging.js"></script>

    <!-- AngularUI Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <!-- Angular Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js">

    </script>

    <!-- Buzz Player -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAs9w43-fk3i2TCZ3egpTnMPLnCbux-3t8",
        authDomain: "bloctime-dsa027.firebaseapp.com",
        databaseURL: "https://bloctime-dsa027.firebaseio.com",
        projectId: "bloctime-dsa027",
        storageBucket: "bloctime-dsa027.appspot.com",
        messagingSenderId: "404448305050"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Application Files -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/HomeCtrl.js"></script>
    <script src="/scripts/controllers/TasksCtrl.js"></script>
    <script src="/scripts/services/Timer.js"></script>
    <script src="/scripts/services/Tasks.js"></script>
    <script src="/scripts/directives/btTimer.js"></script>

  </body>
</html>
