<p id="timer-title" class="col">
  {{ home.timer.title() }}
</p>
<div ng-include="'/templates/analog_digital_setting.html'"></div>
<bt-timer
  clock='{{ home.timer.timeMmSs() }}'
  aord='{{ home.timer.showAnalogTimer }}'
  handle-start='home.timer.toggleTimer()'>
</bt-timer>
<div>
  <button
      type="button"
      name="normal-app-button"
      class="normal-app-button center-block"
      ng-disabled="home.tasks.startButtonDisabled()"
      ng-click="home.timer.toggleTimer()">
    {{ home.timer.startLabel() }}
  </button>
</div>
