<div
    id="all-tasks">
  <div>
    <span class="task-type-header">Incomplete</span>
    <div class="no-tasks" ng-show="tasks.tasks.incompleteLength() == 0">
      There are no incomplete tasks
    </div>
    <div
        id="{{ 'task-incomplete-no-' + $index }}"
        class="zebra-stripe"
        ng-style="tasks.tasks.getBorderStyle(task)"
        ng-repeat="task in tasks.tasks.filterByIncomplete() track by $index"
        ng-click="tasks.tasks.focus(task)">
      <div
          ng-include="'/templates/task.html'">
      </div>
    </div>
  </div>

  <div>
    <span class="task-type-header">Complete</span>
    <div class="no-tasks" ng-show="tasks.tasks.completeLength() == 0">
      There are no completed tasks
    </div>
    <div
        id="{{ 'task-complete-no-' + $index }}"
        class="zebra-stripe"
        ng-repeat="task in tasks.tasks.filterByComplete() track by $index"
        ng-click="tasks.tasks.focus(task)">
      <div
          ng-include="'/templates/task.html'">
      </div>
    </div>
  </div>

  <div>
    <span class="task-type-header">Expired</span>
    <div class="no-tasks" ng-show="tasks.tasks.expiredLength() == 0">
      There are no expired tasks
    </div>
    <div
        id="{{ 'task-expire-no-' + $index }}"
        class="zebra-stripe"
        ng-repeat="task in tasks.tasks.filterByExpired() track by $index"
        ng-click="tasks.tasks.focus(task)">
      <div
          ng-include="'/templates/task.html'">
      </div>
    </div>
  </div>

  <div>
    <span class="task-type-header">Not Yet Valid</span>
    <div class="no-tasks" ng-show="tasks.tasks.invalidLength() == 0">
      There are no invalid tasks
    </div>
    <div
        id="{{ 'task-invalid-no-' + $index }}"
        class="zebra-stripe"
        ng-repeat="task in tasks.tasks.filterByInvalid() track by $index"
        ng-click="tasks.tasks.focus(task)">
      <div
          ng-include="'/templates/task.html'">
      </div>
    </div>
  </div>
</div>
