<div
    id="all-tasks">
  <div
      id="{{ 'task-no-' + $index }}"
      class="zebra-stripe"
      ng-style="tasks.tasks.getBorderStyle(task)"
      ng-repeat="task in tasks.tasks.all track by $index"
      ng-click="tasks.tasks.focus(task)">
    <span
        class="task-date-input"
        ng-show="!tasks.tasks.isEditingThisTask(task)">
      {{ task.name }}
      &nbsp;
      {{ "X ".repeat(task.session_actual) }}
    </span>
    <input
        id="{{ 'title-' + $index }}"
        type="text"
        class="form-control task-date-input"
        ng-show="tasks.tasks.isEditingThisTask(task)"
        ng-model="task.name"
        ng-required="true" />
    &nbsp;
    <span
        class="ion-edit"
        ng-style="{'font-size': '12px'}"
        ng-click="tasks.tasks.editTask()">
    </span>

    <!-- Expires on -->
    <div class="input-group">
      <span class="task-header">Expire: </span>
      <span
        class="task-date-input"
        ng-show="!tasks.tasks.isEditingThisTask(task)">
        {{ tasks.tasks.showDate(task.expire_on) }}
      </span>
      <input
          id="{{ 'expire-no-' + $index }}"
          class="form-control task-date-input"
          ng-show="tasks.tasks.isEditingThisTask(task)"
          type="date"
          ng-model="tasks.tasks.currentTask.expire_on"
      />
    </div>

    <!-- Valid on -->
    <div class="input-group">
      <span class="task-header">Valid: </span>
      <span
        class="task-date-input"
        ng-show="!tasks.tasks.isEditingThisTask(task)">
        {{ tasks.tasks.showDate(task.valid_on) }}
      </span>
      <input
          id="{{ 'expire-no-' + $index }}"
          class="form-control task-date-input"
          ng-show="tasks.tasks.isEditingThisTask(task)"
          type="date"
          ng-model="tasks.tasks.currentTask.valid_on"
      />
    </div>

    <!-- Session estimate -->
    <div>
      <span class="task-header">Est. Sessions: </span>
      <span
        class="task-date-input"
        ng-show="!tasks.tasks.isEditingThisTask(task)">
        {{ task.session_estimate }}
      </span>
      <input
          id="{{ 'estimate-no-' + $index }}"
          type="number"
          class="form-control task-date-input"
          ng-show="tasks.tasks.isEditingThisTask(task)"
          ng-model="task.session_estimate"
          ng-required="true"
          ng-change="tasks.tasks.fo" />
    </div>

    <!-- If editing, show 'end edit' button or if current show
    'task complete' button -->
    <div>
      <button
          type="button"
          ng-show="tasks.tasks.isEditingThisTask(task)"
          class="task-small-button"
          ng-click="tasks.tasks.doneEditingTask($index)">
        Done Editing
      </button>
      <button
          type="button"
          ng-show="!tasks.tasks.isEditingThisTask(task) && tasks.tasks.isCurrentTask(task)"
          class="task-small-button"
          ng-click="tasks.tasks.completeTask($index)">
        Task Complete
      </button>
    </div>
  </div>
</div>
